/* Radios and checkboxes */
input[type=radio],
input[type=checkbox] {
 position: absolute;
 top: auto;
 overflow: hidden;
 clip: rect(1px 1px 1px 1px); /* IE 6/7 */
 clip: rect(1px, 1px, 1px, 1px);
 width: 1px;
 height: 1px;
 white-space: nowrap;
}

input[type=radio] + label,
input[type=checkbox] + label {
 padding: .5em;
 padding-left: 2em;
 max-width: calc(100% - 2em);
}

input[type=radio] + label:before,
input[type=checkbox] + label:before {
 content: '';
 background: #fff;
 background-color: rgba(255, 255, 255, .8);
 display: block;
 float: left;
 width: .9em;
 height: .9em;
 margin-left: -1.5em;
 margin-top: .1em;
 vertical-align: top;
 cursor: pointer;
 text-align: center;
 -webkit-transition: all .1s ease-out;
 transition: all .1s ease-out;
}

input[type=radio] + label:before {
 border-radius: 100%;
}

input[type=radio]:disabled + label:before,
input[type=checkbox]:disabled + label:before {
 border: .1em solid rgba(0, 0, 0, .1);
 background-color: rgba(0, 0, 0, .1);
}

input[type=radio]:disabled + label,
input[type=checkbox]:disabled + label {
 color: #ccc;
}

input[type=checkbox] + label:before,
input[type=radio] + label:before {
 content: '';
 width: 15px;
 height: 15px;
 background-size: 15px 15px;
 background-repeat: no-repeat;
 text-align: center;
 line-height: 1.15;
 color: rgba(0, 0, 255, 0);
}

input[type=checkbox] + label:before {
 background-image: image-url('icons/ic_checkbox_unchecked');
}

input[type=radio] + label:before {
 background-image: image-url('icons/ic_radio_unchecked');
}

input[type=checkbox]:checked + label:before {
 background-image: image-url('icons/ic_checkbox_checked');
}

input[type=radio]:checked + label:before {
 background-image: image-url('icons/ic_radio_checked');
}
